# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=bankcards
DB_USERNAME=postgres
DB_PASSWORD=your_db_password

# JWT (минимум 32 символа для HS256)
JWT_SECRET=your_super_secret_jwt_key_minimum_32_characters
JWT_EXPIRATION_MS=86400000

# AES шифрование (ровно 32 символа для AES-256)
ENCRYPTION_KEY=your_32_character_encryption_key!
