# Database
DB_HOST=postgres
DB_PORT=5432
DB_NAME=bankcards
DB_USERNAME=postgres
DB_PASSWORD=postgres

# JWT (минимум 32 символа для HS256)
JWT_SECRET=myBankAppSuperSecretKey1234567890!!
JWT_EXPIRATION_MS=86400000

# AES шифрование (ровно 32 символа для AES-256)
ENCRYPTION_KEY=1234567890abcdef1234567890abcdef
